@font-face {
  font-family: 'iconfont';  /* project id 717368 */
  src: url('//at.alicdn.com/t/font_717368_xbsyuvim66.eot');
  src: url('//at.alicdn.com/t/font_717368_xbsyuvim66.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_717368_xbsyuvim66.woff') format('woff'),
  url('//at.alicdn.com/t/font_717368_xbsyuvim66.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_717368_xbsyuvim66.svg#iconfont') format('svg');
}
.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiantou:before { content: "\e64a"; }

.icon-jiarujinhuodan:before { content: "\e62c"; }

.icon-photo:before { content: "\e63d"; }

.icon-fanhui:before { content: "\e624"; }

.icon-sousuo:before { content: "\e632"; }

.icon-liulan:before { content: "\e634"; }

